@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
:root{
    --green:#27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5 1rem rgba(0,0,0,.1);  
}

*{
    font-family: 'Sora', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none ;
    transition:all .2s linear;
    transition: width none;
}

.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product{
    margin: 80px;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.col-2 img{
    max-width: 60%;
    padding: 50px 0;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product .col-2 img{
    padding:0;
}

.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product h4{
    margin: 20px;
    font-size:22px;
    font-weight: bold;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid var(--dark-color);
    border-radius: .5rem;
}

.single-product .fa{
    color: var(--green);
    margin-left: 10px;
}

.single-book .row .info .form-group button{
    margin-right: 1.5rem;
}
